<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- script -->
        <script type="text/javascript" src="js/gui/jquery-1.5.1.min.js"></script>
        <script type='text/javascript' src='js/gui/jquery-ui-1.8.13.custom.min.js'></script> 
        <!-- css -->
        <link rel='stylesheet' type='text/css' href='css/smoothness/jquery-ui-1.8.13.custom.css'/>
        <link rel="stylesheet" type="text/css" href="css/common.css">
        <style type="text/css">
            body {
                background-color: #f2f6f8;
            }
            h1  {
                text-align: center;
                line-height: 100px; 
            }
            h3  {
                text-align: center;
            }
            .wrapper {
                position: relative;
                margin: 0 auto;
                width: 1400px;
                background-color: #fff;
                text-align: center;
            }
            .form {
            }

            .banner-box-wrapper {
                margin: 40px 0;
                width: 100%;
                text-align: center;                
            }
            .banner-box {
                position: relative;
                display: inline-block;
                vertical-align: top;
                width: 340px;
                height: 175px;        
            }
            .banner-box .selected {
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -40px;
                margin-top: -40px;
                width: 80px;
                height: 80px;
                border-radius: 100%;
                background-image: url(images/selected.png);
            }
            .banner-box .title {
                position: absolute;
                top: 10px;
                left: 10px;
                color: #fff;
            }

            .style-box-wrapper {
                margin: 40px 0;
                width: 100%;
                text-align: center;
            }
            .style-box {
                position: relative;
                display: inline-block;
                vertical-align: top;
                width: 30%;
            }
            .style-box .selected {
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -40px;
                margin-top: -40px;
                width: 80px;
                height: 80px;
                border-radius: 100%;
                background-image: url(images/selected.png);
            }
            .style-box .title {
                position: absolute;
                top: 10px;
                left: 10px;
                color: #fff;
            }

            .init-input-block {
                position: relative;
                display: inline-block;
                vertical-align: top;
                padding: 40px;
                width: 300px;
                /*border: 1px solid #eee;*/
                background-color: #fff;
            }
            .init-input-block.style {
                /*width: 600px;*/
            }


            .keyword-select-wrapper {
                position: relative;
                display: inline-block;

            }
            .keyword-select {
                position: relative;
                display: inline-block;
                border: 1px solid #111;
                cursor: pointer;
            }
            .keyword-select.selected {
                color: #fff;
                background-color: #000;
            }

            /*custom*/
            .ui-slider-horizontal {
                margin: 1rem;
            }

            .init-button-block {
                padding: 60px;   
            }
            #init_button {
                width: 400px;
                height: 60px;
                color: #fff;
                font-size: 20px;
                border-radius: 10px;
                background-color: #A843FF;
                cursor: pointer;
            }
            #init_button:hover {
                background-color: #7412ca;
            }
        </style>
        <title>INIT</title>
    </head>
<body>
    <div class="wrapper">
        <h1>Banner Studio</h1>
        <form class="form initdata" action="/paint" method="POST">

            <!-- banner规格类型选择 -->
            <h3>1. 请选择banner规格</h3>
            <div class="banner-box-wrapper">
                <div class="banner-box"><div class="selected"></div><div class="title">信息流广告</div><img src="images/index/form_1080x300.jpg" width="100%"></div>
                <div class="banner-box"><div class="selected"></div><div class="title">功能页广告</div><img src="images/index/form_1080x200.jpg" width="100%"></div>
                <input type="text" name="init_width" value="">
                <input type="text" name="init_height" value="" >
            </div>

            <!-- 话术文案 -->
            <h3>2. 输入一下话术文案</h3>
            <div class="init-input-block">
                <label>主标题文本</label>
                <input text="text" name="init_mainTitle" value="" placeholder="请在这里输入主标题文字">
            </div>
            <div class="init-input-block">
                <label>副标题文本</label>
                <input text="text" name="init_subTitle" value="" placeholder="请在这里这里输入副标题文字">
            </div>
            <div class="init-input-block">
                <label>业务类型</label>
                <div class="keyword-select-wrapper">
                    <div class="keyword-select">积分</div>
                    <div class="keyword-select">推荐办卡</div>
                    <div class="keyword-select">放贷</div>
                    <div class="keyword-select">红包</div>
                </div>
                <input type="text" name="init_keywords" value="">
            </div>

            <!-- 风格选择 -->
            <h3>3. 风格选择</h3>
            <div class="style-box-wrapper">
                <div class="style-box"><div class="selected"></div><div class="title">科技风格</div><img src="images/style-scifi.png" width="100%"></div>
                <div class="style-box"><div class="selected"></div><div class="title">梦幻风格</div><img src="images/style-fantasy.png" width="100%"></div>
                <div class="style-box"><div class="selected"></div><div class="title">景观风格</div><img src="images/style-landscape.png" width="100%"></div>
                <input type="text" name="init_style" id="style-chosen" style="opacity: 0;">
            </div>

            <div class="init-button-block">
                <button type="submit" id="init_button">生成</button>
            </div>

            <script type="text/javascript">
                // banner 规格选择
                $('.banner-box').click(function(){
                    $('#banner_chosen').val( $(this).index() );
                    $(this).siblings().children('.selected').hide();
                    $(this).children('.selected').show();
                });

                // banner业务类型keyword选取
                $('.keyword-select').click(function(){
                    $(this).siblings().removeClass('selected');
                    $(this).addClass('selected');
                    $('input[name="init_keywords"]').val( $(this).index() );
                }); 

                // 
                $('.style-box').click(function(){
                    $('#style-chosen').val( $(this).index() );
                    $(this).siblings().children('.selected').hide();
                    $(this).children('.selected').show();
                });




                $('#slider-regular').slider({ 
                    value   : 10, 
                    min     : 0, 
                    max     : 100, 
                    step    : 1, 
                    slide   : updateRegular
                });
                function updateRegular() {
                    var value = $('#slider-regular').slider('value');
                    $('#slider-regular-value').val(value);
                }

                $('#slider-volume').slider({ 
                    value   : 40, 
                    min     : 0, 
                    max     : 100, 
                    step    : 1, 
                    slide   : updateVolume
                });
                function updateVolume() {
                    var value = $('#slider-volume').slider('value');
                    $('#slider-volume-value').val(value);
                }
            </script>
        </form>
    </div>
</body>
</html>