* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #eee;
	font-family: sans-serif;
	font-size: 0px;

	background-color: #000009;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}


#container {
	position: relative;
}


/*
信息面板
包括：paint标题 | 关键词标签组 |  -------  | 下载按钮 
*/
#panel {
	position: relative;
	margin: 0 auto;
	width: 900px;
	height: 120px;
}
#panel .info-wrapper {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 60%;
}
#panel .info-wrapper .info-title {
	margin: 22px 0 0px;
	color: #fff;
	font-size: 32px;
	font-style: italic;
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 100;
	line-height: 52px;
	letter-spacing: 3.2px;
}
#panel .info-wrapper .info-title:after {
	content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 4px;
    top: 119px;
    background: #fff;
}
/*#panel .info-wrapper .info-serial {
	display: inline-block;
	vertical-align: top;
	margin-top: 13px;
	margin-left: 10px;
	padding: 1px 6px;
	height: 20px;
	color: #000;
	font-size: 12px;
	font-weight: 700;
	font-family: 'Menlo', sans-serif;
	line-height: 20px;
	background-color: #f7ad09;
	border-radius: 3px;
}
#panel .info-wrapper .info-description {
	color: #aab;
	font-size: 14px;
	font-style: italic;
	font-weight: 100;
	font-family: 'Helvetica Neue', sans-serif;
	letter-spacing: 2.4px;
}*/
#panel #info_keywords {
	position: relative;
	margin-top: 4px;
}
#panel #info_keywords span.keyword {
	display: inline-block;
	vertical-align: top;
	margin-right: 3px;
	padding: 4px 9px;
	color: #9c99a7;
	font-size: 10px;
	font-weight: 600;
	letter-spacing: 0.4px;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
	line-height: 10px;
	background-color: #2c273a;
	border-radius: 3px;
}


#panel .btn-wrapper {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 40%;
	height: 100px;
	text-align: right;
}
#panel .btn-wrapper .btn-download {
	display: inline-block;
	vertical-align: top;
	margin-top: 36px;
	width: 160px;
	height: 48px;
	color: #000;
	font-size: 18px;
	background-color: #fff;
    background-image: url( ../../images/ui/btn_download.png);
	border-radius: 6px;
	text-align: center;
	cursor: pointer;
	opacity: 0.95;
}
#panel .btn-wrapper .btn-download:hover {
	opacity: 1;
	box-shadow: 0px 1px 14px rgba( 255, 255, 255, 0.3);
}






/* 控制面板 */
#control_wrapper {
	position: absolute;
	bottom: 24px;
	left: calc( 50% - 130px );
	/*width: 260px;*/
	height: 40px;
	border-radius: 20px;	
}

#frame_control {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 200px;
	height: 40px;
	background-color: rgba( 0, 0, 10, 0.9 );
	border-radius: 20px;
}
#frame_control input[type="button"] {
	-webkit-appearance: none;

	display: block;
	position: absolute;
	top: 4px;
	left: 8px;
	width: 32px;
	height: 32px;
	background-color: rgba( 0, 0, 0, 0.1 );
    background-image: url( ../../images/ui/btn_pause.png);
    background-size: cover;
	border-radius: 50%;
	border: none;
	outline: none;
	opacity: 0.9;
	cursor: pointer;
}
#frame_control input[type="button"].pause {
    background-image: url( ../../images/ui/btn_play.png);
}
#frame_control input[type="button"]:hover {
	opacity: 1.0;
}
#frame_control input[type="range"] {   
    -moz-appearance: none;
    -webkit-appearance: none;

    display: block;
    position: absolute;
    top: 18px;
    left: calc( 50% - 60px );
    width: 120px;
    height: 2px;
    background-color: #000;
    border-radius: 15px;
    outline: none; 
}
#frame_control input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;

    top: 1px;
    height: 27px;
    width: 1px;
    background: none repeat scroll 0 0 #fff;
    border-radius: 12px;

    -webkit-transition: ease 0.4s;
} 
#frame_control input[type="range"]::-moz-range-thumb {
    cursor: default;
    top: 1px;
    height: 12px;
    width: 12px;
    border: none;
    outline: none;
    background: none repeat scroll 0 0 #09e8bb;
    border-radius: 12px;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -moz-transition: ease 0.4s;
}
#frame_control input[type="range"]::-moz-range-track {  
    appearance: none;
    -moz-appearance: none; 
    background: none;
}  

.dot-btn {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	width: 40px;
	height: 40px;
	background-color: rgba( 0, 0, 10, 1.0 );
    background-size: cover;
	border-radius: 50%;
	opacity: 0.9;
	cursor: pointer;
}
.dot-btn:hover {
	opacity: 1.0;
}
.dot-btn:hover .tip-vertical{
	opacity: 1.0;
	transform: translateY( 45px );
}
#reset_pattern {
    background-image: url( ../../images/ui/btn_refresh.png);
}
#reset_pattern:hover #tip_resetPattern {
}

#shuffle_color {
    background-image: url( ../../images/ui/btn_shuffle_color.png);
}

#toggle_PostEfx {
	display: block;
	position: absolute;
	top: 20px;
	left: 20px;
	width: 40px;
	height: 40px;
	background-color: rgba( 0, 0, 10, 1.0 );
    background-size: cover;
	border-radius: 50%;
    background-image: url( ../../images/ui/btn_postefx_on.png);
	opacity: 0.9;
	cursor: pointer;
}
#toggle_PostEfx.off {
    background-image: url( ../../images/ui/btn_postefx_off.png);
}



/* UI Tips */
.tip-vertical {
	position: absolute;
    left: calc( 50% - 50px );
    padding: 2px 0;
	width: 100px;
	color: #fff;
	font-size: 10px;
	font-family: sans-serif;
	font-style: italic;
	text-align: center;
	line-height: 20px;
	border-radius: 6px;
	background-color: rgba( 0, 0, 0, 0.96 );

	transition: 200ms ease-out;
	transform: translateY( 50px );
	opacity: 0.0;
}
#tip_resetPattern {
}




/* moniter inspector */
#monitor_panel {
	display: none;
}
#canvas2d_wrapper {
	position: absolute;
	top: 0; left: 0;
	width: 400px;
	height: 200px;
}
#drawingcanvas {
	/*display: none;*/
	width: 100%;
}
















